$family-san-serif: "koz", "Helvetica", "Roboto", "Ubuntu", san-serif;
$text: #eee;
$text-strong: #eaeaea;
$text-light: #efefef;
$white: #fff;
$black: #000;
$link: rgb(106, 255, 186);

@use "bulma/sass" with (
  $family-primary: $family-san-serif,
  $primary: $text,
  $grey-darker: $text-strong,
  $grey-dark: $text-strong,
  $grey-light: $text-light,
  $link: $link,
  $danger: #ff0000,
  $input-shadow: none,
  $column-gap: 0.75rem,
  $content-heading-color: $text-strong,
  $strong-color: $text-strong,
  $navbar-item-color: $black,
  $text-strong: $text-strong,
);



@font-face {
  font-family: koz;
  font-style: normal;
  font-weight: 600;
  src: url(../public/fonts/koz-l.otf);
}

$cosine-gradient: radial-gradient(
  circle at left top,
  rgb(66, 255, 163),
  rgb(70, 255, 178),
  rgb(106, 255, 186),
  rgb(164, 255, 187),
  rgb(230, 217, 180),
  rgb(255, 105, 167),
  rgb(255, 56, 147),
  rgb(255, 90, 124),
  rgb(255, 194, 98),
  rgb(220, 255, 71),
  rgb(154, 255, 47)
);

$hover-color: rgba(0, 0, 0, 0.5);
$linkedin: #0077b5;
$linkedin-invert: #fff;
$twitter: #55acee;
$twitter-invert: #fff;
$github: #333;
$github-invert: #fff;

$custom-colors: (
  "twitter": $twitter,
  "linkedin": $linkedin,
  "github": $github,
);

$navbar-height: 8rem;
$navbar-item-img-max-height: 128px;
$navbar-item-color: $black;
$navbar-item-backround-color: transparent;
$navbar-item-hover-background-color: $hover-color;
$navbar-item-hover-color: $text;
$navbar-dropdown-background-color: transparent;

$footer-background-color: $white;

$card-background-color: transparent;
$card-header-shadow: 0 1px 2px rgba($white, 0.1);
$card-shadow: 0 2px 3px rgba($white, 0.1), 0 0 0 1px rgba($white, 0.1);
$card-footer-border-top: 1px solid rgba($white, 0.1);

$code-background: rgba(255, 255, 255, 0.96);

html,
body,
#__next,
#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.25rem;
  background-color: transparent;
}

a{
  color: $link;
}
a:hover{
    color: $hover-color;
}

.navbar-item {
  h1{
    color: black;
  }
}


#container {
  overflow-y: scroll;
}

.navbar {
  background-color: transparent;
  img{
    max-height: 100%;
  }
}

.logo {
    height: 128px;
    width: auto;
    
    img {
      height: 100%;
      width: auto;
      max-height: 128px;
      object-fit: contain;
    }
}

#navbar-logo {
  height: 128px;
  display: flex;
  align-items: center;
  
  @media (max-width: 1280px){
    max-width: 60%;
  }
}

.navbar-menu {
  background-color: transparent;
}

.navbar-burger {
  background-color: rgba(0, 0, 0, 0.05);
}
.navbar-burger:hover {
  background-color: $hover-color;
}

.work p {
  width: 100%;
  background-color: #222;
  color: #ddd;
}

.work:hover figure div {
  opacity: 1;
}

.work:hover figure {
  background-color: $white;
  color: $white;
}
.work img {
  opacity: 0.75;
}

.work:hover img {
  opacity: 1;
}

.tab {
  opacity: 0.75;
  font-size: 1rem;
}

.tab:hover {
  opacity: 1;
}



.video-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-picture {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.article-container {
  background-color: $hover-color;
  position: relative;
  padding-bottom: 2.5rem;
  overflow-x: auto;
  overflow-y: hidden;
}

.line {
  display: inline-block;
}

.instagram-media {
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  margin: 1px;
  max-width: 540px;
  min-width: 326px;
  padding: 0;
  width: 99.375%;
  width: -webkit-calc(100% - 2px);
  width: calc(100% - 2px);
}

.insta-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  min-width: 326px;
}

.content blockquote,
.content pre {
  color: #676767;
}

.content table tr:hover {
  background-color: inherit;
}

.work-content img {
  margin: auto;
  width: 100%;
}
